page-home {
    #Layer_1{
        width: 95%;
        position: relative;
        top: -40px;
    }

    #title{
        position: relative;
        top: -70px;
    }

    .block{
        position: relative;
        top: -50px;
    }

     .connect{
         position: relative;
        margin-top: 5 px;
        border-radius: 30px;
        width: 200px;
        background-color: black;
    }


}
